<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>735410153002-elk5udhp0tbsd42p5mslh37if92i2ag4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.735410153002-elk5udhp0tbsd42p5mslh37if92i2ag4</string>
	<key>API_KEY</key>
	<string>AIzaSyCNQaiBdeA27PIqf_xbf_3F3sJEaPiauvQ</string>
	<key>GCM_SENDER_ID</key>
	<string>735410153002</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.youssefsheta.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat-8d58f</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-8d58f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:735410153002:ios:a949ca13d105ec021f8553</string>
</dict>
</plist>